/* #region Global Changes */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
:root {
    --aqua: #A5F1E9;
    --darkAqua: #7FE9DE;
    --mint: #CFFDE1;
    --sand: #FFF6BF;
    --wetSand: #FFEBAD;
    --warmSand: #e9b07f;
    --thatsRed: #e97f84;
    --coolPink: #e97fb9;
    --text: #000;
    --green: #68B984;
    --darkGreen: #3D5656;
}
html, body {
    width: 100svw;
    height: 100svh;
    margin: 0;
    padding: 0;
    background-color: var(--darkAqua);
    font-family: 'Merriweather', serif;
}
/* #endregion */
/* #region Navbar */
nav {
    position: fixed;
    padding: 0;
    height: 100svh;
    width: calc(10svw + 10svh);
    background-color: var(--sand);
    margin-left: 0;
    transition: margin-left 400ms;
    color: var(--text);
    z-index: 999;
}
nav.hidden {
    margin-left: calc((-10svw - 10svh));
}
nav > h2 {
    margin-left: 1vw;
    font-size: calc(1.25svw + 1.25svh);
}
a {
    text-decoration: none;
    color: var(--text);
}
#nav-icon {
    width: 5svw;
    height: 5svw;
    border: none;
    border-radius: 0 2rem 2rem 0;
    background-color: var(--sand);
    margin-left: calc(7.5svw + 10svh);
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-rows: 1fr 1.5svh 1.5svh 1.5svh 1fr;
    transition: border-radius 400ms,
                grid-template-rows 400ms,
                margin-left 400ms;
}
.line {
    width: 50%;
    height: 0.5svh;
    margin-left: 25%;
    background-color: black;
    transition: opacity 400ms;
}
/* #endregion */
/* #region Sizing */
.screen-100 {
    width: 100svw;
    height: 100svh;
    padding: 0;
    margin: 0;
}
.grid-50 {
    display: grid;
    position: relative;
    width: 90%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
.img-90 {
    position: relative;
    width: 90%;
    height:calc(min(90vh, 100%));
    object-fit: cover;
}
/* #endregion */
/* #region background colors */
.bcg-mint {
    background-color: var(--mint);
}
.bcg-darkAqua {
    background-color: var(--darkAqua);
}
.bcg-aqua {
    background-color: var(--aqua);
}
.bcg-green {
    background-color: var(--green);
}
.bcg-darkGreen {
    background-color: var(--darkGreen);
}
.bcg-red {
    background-color: var(--thatsRed);
}
.bcg-pink {
    background-color: var(--coolPink);
}
.bcg-wetSand {
    background-color: var(--wetSand);
}
/* #endregion */
/* #region Formatting */
.centered {
    text-align: center;
    justify-self: center;
}
.left-aligned {
    text-align: left;
    justify-self: left;
}
.right-aligned {
    text-align: right;
    justify-self: right;
}
.pos-fixed {
    position: fixed;
}
.underlined {
    text-decoration: underline;
}
.link {
    text-decoration: underline;
    font-weight: bold;
}
.opacity-0 {
    opacity: 0;
}
.button {
    border-radius: 1vw;
    padding: 1rem;
    width: 30%;
}
/* #endregion */
/* #region Media Queries */
@media (min-aspect-ratio: 1.5/1) { /*on horizontal devices*/
    nav > a > #nav-icon:hover {
        border-radius: 0 1rem 1rem 0;
        grid-template-rows: 1fr 2svh 2svh 2svh 1fr;
    }
    nav.hidden > a:hover > #nav-icon {
        margin-left: calc(9.5svw + 10svh);
    }
    nav.hidden > a:not(:hover) > #nav-icon .line {
        opacity: 0;
    }
}
@media (max-aspect-ratio: 1.5/1) { /* on (almost) vertically oriented devices */
    nav.hidden > a > #nav-icon {
        margin-left: calc(9.5svw + 10svh);
    }
    nav.hidden > a > #nav-icon .line {
        opacity: 1;
    }
    #nav-icon {
        width: 8svw;
        height: 8svw;
        border-radius: 0 3rem 3rem 0;
    }
}
@media (max-aspect-ratio: 1/1) { /* on vertically oriented devices */
    #nav-icon {
        width: 12svw;
        height: 12svw;
    }
}
/* #endregion */