#recycleDiv {
    position: fixed;
    width: 10vh;
    height: 10vh;
    left: calc(50% - 5vh);
    top: calc(100% - 10vh);
    z-index: 1;
    transition: 400ms;
}
#recycleDiv:hover {
    width: 30vh;
    left: calc(50% - 15vh);
}
#recycleDiv span {
    position: fixed;
    opacity: 0;
    margin-left: -6rem;
    transition: margin-left 400ms;
    user-select: none;
}
#recycleDiv:hover span {
    transition: margin-left 400ms, opacity 400ms;
    margin-left: 0;
    opacity: 1;
    margin-top: 1.5rem;
}
#recycleDiv:hover #recycleIMG {
    transform: rotateX(180deg);
    margin-top: -0.25rem;
}
#recycleIMG {
    width: 10vh;
    aspect-ratio: 1/1;
    transition: transform 600ms, margin-top 400ms;
}